modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]

[deployment]
run = ["sh", "-c", "npm install && npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 4321
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9999
externalPort = 3002
